# Retirement Tool

In [11]:
# Import the required libraries and dependencies
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
%matplotlib inline

In [12]:
# Load the environment variables from the .env file by calling the load_dotenv function
load_dotenv()

True

## Part 1: Data Pull & Validation

### Pulling from API and validating data

#### Step 1.the endpoint URLs for the API calls

In [13]:
COST_OF_LIVING_URL = "https://cities-cost-of-living1.p.rapidapi.com/get_cities_details_by_name"
COST_OF_LIVING_HEADERS = {
	"content-type": "application/x-www-form-urlencoded",
	"X-RapidAPI-Host": "cities-cost-of-living1.p.rapidapi.com",
	"X-RapidAPI-Key": "0733542605msh08db76108a18425p16aaa1jsn85b280209dcc"
}
payload = {
  'cities': '[{"name":"Lisbon","country":"Portugal"},{"name":"Paris","country":"France"},{"name":"Hamilton","country":"Bermuda"},{"name":"New York","country":"United States"}]',
  'currencies': '["USD"]'
}

#### Step 2. Fetch data

In [14]:

# response = requests.request("POST", COST_OF_LIVING_URL, data=payload, headers=COST_OF_LIVING_HEADERS)

# response

In [15]:
# data = response.json()['data']

# # print(json.dumps(data[0:1], indent=4, sort_keys=True))
# for i in range(len(data)):
#     for item in data[i]['cost_of_living_details'][0]['details']:
#         data[i][item['Item']] = item['Value']

# for i in range(len(data)):      
#     del data[i]['cost_of_living_details']

# df = pd.DataFrame(data)
# # df.set_index = df['country']

# display(df)

,cost_of_living_index,cost_of_living_plus_rent_index,country,groceries_index,last_updated_timestamp,local_purchasing_power_index,name,rent_index,restaurant_price_index,us_state,...,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Apartment (Shared Room in a 3 Bedrooms Apartment) in City Centre,Apartment (Shared Room in a 3 Bedrooms Apartment) Outside of Centre,Price per Square Feet to Buy Apartment in City Centre,Price per Square Feet to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate"
0,50.13,40.52,Portugal,38.60,2022-02-25 06:04:19.292971+00:00,48.03,Lisbon,29.89,49.92,N/A,...,940.38,708.46,1839.46,1226.52,613.15,408.84,489.84,289.8,1171.19,2.24
1,81.85,65.33,France,80.94,2022-02-25 06:01:43.310481+00:00,78.38,Paris,47.07,79.53,N/A,...,1403.29,980.62,3015.15,2071.79,1005.05,690.6,1308.14,957.37,3100.66,1.4
2,147.81,119.78,Bermuda,154.40,2022-02-25 06:01:21.290341+00:00,88.10,Hamilton,88.78,154.25,N/A,...,2669.59,1810.07,5775.52,3836.75,1925.17,1278.91,958.08,525.17,6389.41,7.68
3,100.00,100.00,United States,100.00,2022-02-25 06:01:25.671931+00:00,100.00,New York,100.00,100.00,NY,...,3243.97,2251.8,6544.01,3832.94,2181.34,1277.65,1415.75,762.44,6054.77,3.63